# ignore compiled python files
*.pyc

# ignore pdfs
*.pdf

# ignore images
*.png
!Frontend/src/frontend/*.png
!Frontend/build/classes/frontend/*.png
*.ppm
*.jpg
!Frontend/src/frontend/*.jpg
!Frontend/build/classes/frontend/*.jpg

# ignore output
*.out

# ignore class files
*.class

# ignore properties files
*.properties

# ignore text files
*.txt

# ignore binary files in graph_extractor
Backend/graph_extractor/opensoft
Backend/graph_extractor/opensoft1
Backend/graph_extractor/opensoft2

Backend/test*/
